# fly.toml app configuration file generated for fly-jellyfin-fuse on 2024-07-13T19:48:49+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

primary_region = 'lhr'

[build]

[http_service]
internal_port = 8096
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[env]
JELLYFIN_DATA_DIR = "/data/data"
JELLYFIN_CONFIG_DIR = "/data/config"
JELLYFIN_CACHE_DIR = "/data/cache"


[deploy]
strategy = 'immediate'

[[vm]]
memory = '4gb'
cpu_kind = 'shared'
cpus = 4

[[http_service.checks]]
method = "get"
path = "/health"
grace_period = "10s"
interval = "5s"
timeout = "90s"

[mount]
source = "jellyfin_data"
destination = "/data"
initial_size = '1gb'
auto_extend_size_threshold = 80
auto_extend_size_increment = '1gb'
auto_extend_size_limit = '10gb'
