name: Scale Up

on:
    schedule:
        - cron: "0 18 * * *"
    workflow_dispatch:

jobs:
    scale-down:
        name: Scale down Fly.io app at night
        runs-on: ubuntu-latest
        steps:
            - uses: superfly/flyctl-actions/setup-flyctl@master
            - name: Scale down app
              run: flyctl scale count 1 --app ${{ secrets.APP_NAME }} --yes
              env:
                  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    workflow-keepalive:
        if: github.event_name == 'schedule'
        runs-on: ubuntu-latest
        permissions:
            actions: write
        steps:
            - uses: liskin/gh-workflow-keepalive@v1
